* {
  box-sizing: border-box;
}
body {
  height: 1000px;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 36px;

  background-color: #b3b3b3;
  width: 100%;
  position: fixed;
}

header h1 {
  position: absolute;
  top: 0;
  left: 10px;
  height: 36px;
  line-height: 36px;
}

header .btns {
  position: absolute;
  right: 10px;
  height: 36px;
  line-height: 36px;
}

#header {
  height: 36px;
}

header .gnbList {
  display: flex;
  width: 400px;
  background-color: red;
  height: 36px;
  overflow: hidden;
  transition: 0.25s;
  text-align: center;
}

header .gnbList:hover {
  height: 200px;
}

header .gnbList .depth01 {
  flex: 1;
}

.depth01 > a:hover {
  border-bottom: 2px solid #fff;
}

/* header .gnbList .depth01::after {
  /* content: "";
  display: none;
  height: 2px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 34px;
  left: 0; 
} */

header .gnbList .depth01:hover::after {
  display: block;
}

header .gnbList .depth01 > a {
  display: block;
  padding: 10px 0;
  box-sizing: border-box;
  height: 36px;
}

header .gnbList .depth01 > ul li {
  margin: 10px 0;
}

/* header .gnbList .depth01 > a:active {
  color: #b2b2b2;
} */

header .gnbList li a:focus {
  outline: 1px solid #b3b3b3;
}

/* 배너 */
.container {
  display: flex;
  justify-content: center;
}

.container .bannerList {
  text-align: center;
  display: flex;
}

.bannerList li {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;

  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
  line-height: 200px;
  color: #fff;

  margin: 10px;
}

.bannerList li:hover {
  background-size: auto 110%;
  transition: 2s;
  /* animation-name: enlargement;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-timing-function: ease-in; */
}

.bannerList li a {
  display: inline-block;

  width: 150px;
  height: 200px;

  /* text-decoration: none;
  color: inherit; */
}

.first {
  background-image: url(./cat-gca0d7ada9_640.jpg);
}

.second {
  background-image: url(./dog-gd86eac0c3_640.jpg);
}

.third {
  background-image: url(./lion-g7b1ff1df9_640.jpg);
}

.bg {
  height: 300px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg01 {
  background-image: url(./cat-gca0d7ada9_640.jpg);
}

.bg02 {
  background-image: url(./dog-gd86eac0c3_640.jpg);
  background-position: center;
  margin-top: 300px;
}

.bg03 {
  background-image: url(./lion-g7b1ff1df9_640.jpg);
  background-position: right;
  margin-top: 300px;
}

/* 채팅상담 버튼 */
.chat {
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 50%; /* 25px */
  color: #fff;
  text-align: center;
  line-height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  border: 3px solid #000;
  opacity: 0;
  transition: 0.25s;
  animation-name: slideUp, fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.chat:hover {
  background: #fff;
  color: #000;
}

/* 초기값 설정 X => 원래 포지션 기준으로 움직임. animation-fill-mode 설정 필요. */
@keyframes slideUp {
  to {
    transform: translateY(-20px);
  }
}
/* 초기값을 설정 => 애니메이션이 끝난 위치와 원래 위치가 동일 => animation-fill-mode 필요 X. */
@keyframes slideUp02 {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
