header {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

header ul {
  display: flex;
}

header ul li {
  list-style: none;
  padding: 0;
}

header nav > ul {
  display: flex;
}
