.hidden {
  position: absolute;
  left: 9999px;
  opacity: 0;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 10px;
  background: #e9e9e9;
}

#logo {
  margin-right: 50px;
}

#gnb .gnbList {
  display: flex;
}
#gnb .gnbList li + li {
  margin-left: 30px;
}

header .sideBtn {
  display: none;
  cursor: pointer;
}
.slide {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slide_item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  transition: left 0.15s;
}
.slide_button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  /* 버튼이 중앙에 위치하게 하기위해 계산 (구글링) */
  top: calc(50% - 16px);
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #cccc;
  cursor: pointer;
}

.slide_prev_button {
  left: 10px;
}
.slide_next_button {
  right: 10px;
}

.slide_item:nth-child(1) {
  background-color: red;
}
.slide_item:nth-child(2) {
  background-color: blue;
}
.slide_item:nth-child(3) {
  background-color: yellow;
}
.slide_item:nth-child(4) {
  background-color: green;
}
.slide_item:nth-child(5) {
  background-color: purple;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slide_pagination {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.slide_pagination > li {
  color: #03275a34;
  cursor: pointer;
  font-size: 25px;
}
.slide_pagination > li.active {
  color: #03275a34;
}

.modalBg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modalBg .modal {
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
}

.modalBg .modal .titleBox {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.modalBg .modal .btnClose {
  cursor: pointer;
}

.modalBg .modal .contentBox {
  padding: 10px;
}

.modalBg.hide {
  height: 0;
  overflow: hidden;
  transition-delay: 0.05s;
}
.modalBg.hide .modal {
  opacity: 0;
  transition: 0.05s;
}

@media (max-width: 768px) {
  header {
    height: 40px;
    justify-content: space-between;
  }
  #gnb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    transition-delay: 0.4s;
    z-index: 100;
  }
  #gnb.on {
    height: 100vh;
    transition-delay: 0s;
  }
  #gnb .gnbList {
    position: absolute;
    right: 0;
    width: 300px;
    height: 100%;
    transform: translate(300px);
    flex-direction: column;
    background-color: #fff;
    transition: transform 0.4s;
  }
  #gnb.on .gnbList {
    transform: translate(0);
  }
  #gnb .gnbList li + li {
    margin-left: 0;
  }
  #gnb .gnbList li a {
    display: block;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e8e8e8;
  }
  header .sideBtn {
    display: block;
  }
}
